
*{
    margin:0;
    padding:0;
}
body{
    font-family: STKaiti,KaiTi_GB2312,"华文楷体","宋体",Arial,Helvetica,sans-serif;
    font-size: 15px;
    background: #f1f2f6;
}

input,button,img{
    outline:none;
    border: none;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}